<div class='container-fluid article-form-container'>
  <%= form_with model: @article_form, url: new_modal_admin_confirm_path, id: 'new-article-form', data: { article_id: @article_form.article.id } do |f| %>
    <%= render 'admin/articles/form/article_form', f: f %>
    <div class='card p-3'>
      <%= render 'admin/articles/form/categories_form', f: f %>
    </div>

    <div class="form-group">
      <%= f.submit '作成', class: 'float' %>
    </div>
  <% end %>

  <%= render 'admin/articles/images/form_image_container', article: @article_form.article %>
</div>

<%= javascript_pack_tag 'articles/sync_scroll.js' %>
<%= javascript_pack_tag 'articles/article_markdown.js' %>
<%= javascript_pack_tag 'articles/form.js' %>