<div class='container-fluid'>
    <%= form_with model: @article_form, url: article_path(@article), method: :patch, local: true do |f| %>
      <%= render 'articles/form/article_form', f: f %>
      <%= render 'articles/form/categories_form', f: f %>

      <div class="form-group">
        <%= f.submit '更新', class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render 'articles/images/form_image_container', article: @article %>

</div>

<%# 画像保存のフォーム %>
<%= form_with url: article_images_path(@article), method: :post, id: 'image-submit-form' do |f| %>
<% end %>

<%= javascript_pack_tag 'articles/sync_scroll.js' %>
<%= javascript_pack_tag 'articles/article_markdown.js' %>
<%= javascript_pack_tag 'articles/form.js' %>