<%= f.fields_for :categories, f.object.article.categories do |ff| %>
  <div class='row'>
    <div class='col-md-12'>
      <div class='form-group border-bottom'>
        カテゴリー(言語)
      </div>
      <div class='form-group d-flex justify-content-start'>
        <%= ff.collection_check_boxes :ids, Category.language, :id, :name do |category| %>
          <div class='p-2'>
            <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='col-md-12'>
      <div class='form-group border-bottom'>
        カテゴリー(フレームワーク)
      </div>
      <div class='form-group d-flex justify-content-start'>
        <div class='p-2'>
          <%= ff.collection_check_boxes :ids, Category.framework, :id, :name do |category| %>
            <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>