<% content_for(:html_title) {@article.title} %>

<div class="container article-container mt-5" style="background-color: white;">
  <h1 class='pt-5 pl-3 pr-3 mb-2'>
    <%= @article.title %>
  </h1>
  <div class='d-flex justify-content-end pl-3 mb-4'>
    <p>投稿日 <%= @article.created_at.to_s %></p>
  </div>
  <div class='mb-4 pl-3'>
    <% @article.categories.each do |category| %>
      <%= link_to guest_categorized_articles_path(category_id: category.id) do %>
        <span class="badge badge-pill badge-primary pt-2 pb-2 pl-3 pr-3" style="font-size: 17px"><%= category.name %></span>
      <% end %>
    <% end %>
  </div>
  <div class='markdown-container'>
    <%= markdown(@article.body).html_safe %>
  </div>
</div>