<%= f.fields_for :article, f.object.article do |ff| %>
<div class='form-group'>
  <%= ff.label :title %>
  <%= ff.text_field :title, class: 'form-control' %>
  <%= form_validation_message(f.object.article, :title) %>
</div>

<div class="form-group">
  <%= ff.label :body %>
  <%= ff.text_area :body, rows: '30', class: 'form-control' %>
  <%= form_validation_message(f.object.article, :body) %>
</div>
<% end %>