<div class='container'>
  <%= form_with model: @category_form, url: categories_path do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category_type %>
    <%= f.select :category_type, Category.category_types.keys.map {|k| [t("activerecord.attributes.category.#{k}"), k]}, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.submit '作成', class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>