<!DOCTYPE html>
<html>

<head>
  <title>SbknBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>
  <div class="container d-flex justify-content-start mb-5 mt-3">
    <%= render_breadcrumbs separator: ' >> ' %>
  </div>
  <%= yield %>
</body>

</html>